body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  /* font-family: STFangSong, Helvetica, Arial, Vernada, */
  /* Tahoma, STXihei, "Microsoft YaHei", */
  /* "Songti SC", SimSun, Heiti, sans-serif; */
  font-size: 18px;
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-brand {
  font-size: 20px;
  margin: 0 3px;
}
