<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="site/static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="site/static/home.css">
    <link rel="stylesheet" type="text/css" href="site/static/main.css">

    <title>{{ config['title'] }}</title>
  </head>

  <body>
    {% include './header.html' %}

    <div class="container" >
      <div class="row">
        <div class="col-sm">
          <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
              <a href={{ post.html_path() }}>{{ post.title() }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
